/* Carrusel */
.carousel-wrapper {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
}

/* Sección de estadísticas */
.statistics-section {
  background-color: #1a1a1a;
  color: white;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.statistics-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

.statistics-text {
  max-width: 50%;
}

.statistics-card {
  background-color: #f7d27a;
  color: black;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.statistics-card h1 {
  font-size: 4rem;
}

.statistics-card h4 {
  margin: 10px 0;
}

/* Sección de servicios */
.services-section {
  padding: 60px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  width: 20%;
  background: white;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-card img {
  width: 50px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Responsividad */
@media (max-width: 768px) {
  .services-container {
    flex-direction: column;
    align-items: center;
  }

  .service-card {
    width: 80%;
  }

  .statistics-container {
    flex-direction: column;
  }

  .statistics-card {
    margin-top: 20px;
  }
}
