.login-background {
    background-image: url('../assets/bienvenida_2.png'); /* Ajusta la ruta según la ubicación de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sombra oscura */
    z-index: 1; /* Coloca la sombra por debajo del contenido */
  }
  
  .login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el card */
    position: relative;
    z-index: 2; /* Coloca el card sobre el overlay */
  }
  
  .logo-link {
    position: absolute;
    top: 20px; /* Ajusta según necesites */
    left: 50%;
    transform: translateX(-50%);
    z-index: 3; /* Coloca el logo sobre todo */
  }
  
  .ingelecsa-logo {
    max-width: 300px; /* Ajusta el tamaño del logo */
    cursor: pointer;
  }
  