.main-container {
  overflow: hidden;
  background-color: #1a2b4c;
  min-height: 100vh;
  padding: 20px;
  padding-bottom: 30px;
  color: #ffffff;
}

h2 {
  color: #ffffff;
  margin-bottom: 10px;
}

hr {
  border-top: 3px solid #ffffff;
  margin-bottom: 30px;
}

.quadrant-row {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 150px);
}

.quadrant-container {
  background-color: #ffffff;  
  padding: 20px;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chart-container-1 {
  height: 350px;
  width: 350px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 10%;
}

.chart-details {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1em;
}

.chart-container-lazo {
  height: 200px; /* Aumentar el tamaño del gráfico */
  width: 150px;  /* Aumentar el tamaño del gráfico */
  margin: 0 auto;
  margin-top: 20%;
  padding: 5px;
}

.lazo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Mantiene las 5 columnas */
  gap: 15px;
  align-items: center;
}

.map-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .chart-container-lazo {
    height: 120px; /* Ajustar tamaño para pantallas pequeñas */
    width: 120px;  /* Ajustar tamaño para pantallas pequeñas */
  }

  .chart-container-lazo {
    height: 100px;
    width: 100px;
  }

  .lazo-grid {
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas pequeñas */
  }
}
