/* Asegura que los cuadrantes mantengan su tamaño */
.task-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
  gap: 20px;
  height: auto;
  margin-bottom: 1%;
}

.task-card {
  height: 40vh; /* Establece un tamaño fijo para los cuadrantes */
  width: 100%;  /* Hace que las cards ocupen todo el ancho disponible */
  min-height: 40vh;
  overflow: hidden;
}

.task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-body {
  overflow-y: auto; /* Asegura que el contenido interno pueda desplazarse */
  max-height: 100%; /* Limita el contenido al tamaño del cuadrante */
}

/* Asegura que el cuadrante 4 tenga un scroll interno */
.detector-card {
  height: 100%;
  overflow-y: auto;
}

button {
  margin-right: 5px;
}

/* Responsividad para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .task-container {
    grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    grid-template-rows: auto;
    gap: 20px;
  }

  .task-card {
    height: auto; /* Permitir que los cuadrantes sean más flexibles en altura */
    min-height: 40vh;
    width: 100%;  /* Que ocupen todo el ancho disponible */
  }
}



